.inLeft{
    overflow: auto;
    width: 15%;
    height: 400px;
    margin-top: 10%;
    /* border: 2px solid black; */
    float: left;
}
.inRight{
    overflow: auto;
    width: 83%;
    height: 700px;
    border: 1px solid gray;
}
#inLeftCenter{
    height: auto;
    /* margin-top: 25%; */
    /* border: 2px solid red; */
    width: auto;
    overflow: auto;
}

/* 设置左侧每一个选项的样式 */
.fun_choice{
    width: auto;
    height: 45px;
    /* border: 2px solid blueviolet; */
    text-align: center;
    font-size: large;
    /* padding-top: 9.5%; */
    font-weight: bold;
    line-height: 45px;
}
#depManage{
    background-image: url(../img/privChoiceBG.jpg);
    background-size: cover;
    color: white;
    font-weight: bolder;
}

.fun_choice:hover{
    color: white;
    font-weight: bolder;
    background-color: #012060;
}


/* 设置右侧 */
.inRight{
    box-shadow: 10px 10px 5px #888888;
}
/* 右上 */
#inRightUpper{
    width: auto;
    height: 63px;
    /* border: 2px solid salmon; */
    background-color: #355896;
    line-height: 63px;
    text-align: right;
    color: white;
    font-size: larger;
    font-weight: bolder;
}
#RU_text{
    /* border: 2px solid sandybrown; */
    /* width: fit-content; */
    height: 63px;
    margin-right: 10%;
}

#Info_title_div{
    margin-left: 5%;
}


#Info_text{
    /* border: 2px solid blue; */
    width: 85%;
    margin-left: 5%;
    margin-top: 3%;
    font-size: larger;
    overflow: auto;
}


/* 部门名称样式设置 */
#all_depName_div{
    width: 80%;
    height: auto;
    /* border: 2px solid darkcyan; */
    margin-left: 13%;
    overflow: auto;
}
.dep_name{
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin-top: 2%;
    text-indent: 2em;
}


#show_staff_all_div{
    margin-left: 13%;
    width: 80%;
    /* border: 2px solid darkcyan; */
    display: flex;
    flex-flow: row wrap;
}
.staff_info_div{
    width: 150px;
    height: 210px;
    /* border: 2px solid darkblue; */
    margin-left: 5%;
    margin-top: 30px;
    text-align: center;
}
/* 设置职工信息的职位和姓名样式 */
.staff_job{
    /* border: 2px solid red; */
    margin-top: 97%;
    font-weight: bold;
}
.staff_name{
    font-weight: bolder;
}
#staff_photo1{
    background-image: url(../img/staff_photo1.png);
}
.staff_photo{
    width: 100px;
    height: 130px;
    float: left;
    position: relative;
    margin-top: 3%;
    margin-left: 16%;
    /* border: 2px solid seagreen; */
    
    background-image: url(../img/staff_photo1.png);
}